{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": [
      "react"
  ],
  "rules": {
    "arrow-body-style": 0,
    "arrow-parens": [2, "always"],
    "comma-dangle": 0,
    "no-plusplus": [2, { "allowForLoopAfterthoughts": true }],
    "no-unused-vars": 1,
    "operator-assignment": ["error", "never"],
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "react/jsx-curly-spacing": [2, "always", {
      "spacing": {
        "objectLiterals": "never"
      },
      "allowMultiline": true
    }],
    "react/prefer-stateless-function": 1,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/require-default-props": 0
  },
  "env": {
    "browser": true,
    "jest": true,
    "es6": true
  }
}
