.Form-Input-field {
  display: block;
  margin: 5px 0 10px;
  padding: 10px;
  width: 100%;
  border: 1px solid #DADADA;
  border-radius: 1px;
  color: darken(#DADADA, 10);
  font-size: inherit;
  font-family: inherit;
}

.Form-Input-label {
  margin: 0;
  color: #333;
  font-size: 14px;
  line-height: 1;
}

.Form-Input-date {
  padding-left: 38px;
  background: #fff url(../../assets/images/calendar-icon.svg) no-repeat 10px center;
}

.Form-Input-textarea {
  height: 100px;
  resize: none;
}
