.Form-Input-field {
  margin: 5px 0 10px;
  display: block;
  width: 100%;
  border: 1px solid #DADADA;
  border-radius: 1px;
  font-size: inherit;
  font-family: inherit;
  color: darken(#DADADA, 10);
  padding: 10px;
}

.Form-Input-label {
  font-size: 14px;
  color: #333;
  line-height: 1;
  margin: 0;
}
