.Form-InputField {
  display: block;
  margin: 5px 0 10px;
  padding: 10px;
  width: 100%;
  border: 1px solid #DADADA;
  border-radius: 1px;
  color: darken(#DADADA, 10);
  font-size: inherit;
  font-family: inherit;
}

.Form-InputField-label {
  margin: 0;
  color: #333;
  font-size: 14px;
  line-height: 1;
}

.Form-InputField-date {
  padding-left: 38px;
  background: #fff url(../../assets/images/calendar-icon.svg) no-repeat 10px center;
}

.Form-InputField-textarea {
  height: 100px;
  resize: none;
}

.Form-Button {
  display: block;
  margin: 0 0 5px;
  padding: 14px 0;
  border: none;
  background: #DADADA;
  width: 100%;
  font-size: 12px;
  color: #fff;
  text-align: center;
  line-height: 1;
  border-radius: 3px;
  cursor: pointer;

  &:hover,
  &:active,
  &:focus {
    background: lighten(#DADADA, 5);
  }

  &.Form-Button--isPrimary {
    background: #14c674;

    &:hover,
    &:active,
    &:focus {
      background: lighten(#14c674, 5);
    }
  }
}
