@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  box-sizing: border-box
}

body {
  margin: 0;
  padding: 0;
  background: #475171;
  font-family: 'Open Sans', sans-serif;
}

.MainContainer {
  margin-top: 46px;
}

.CalendarContainer,
.PageHeader {
  position: relative;
  margin: 0 auto;
  width: 780px;
}

.PageHeader-title {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  font-weight: normal;
  font-size: 30px;
  line-height: 41px;
}

.AppointmentList {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 540px;
  height: 670px;
  border-radius: 4px;
  background: #fff; // FIXME: maybe not needed
  box-shadow: 0 0 4px 0 rgba(#000, .13), 0 18px 30px 0 rgba(#000, .13);
  vertical-align: top;
}

.AppointmentList-title {
  color: #333;
  font-size: 20px;
  font-weight: normal;
  margin: 0;
  padding: 16px 40px;
  border-bottom: 1px solid rgba(#B5B5B5, .5);
}

.AddAppointment {
  display: inline-block;
  margin-top: 20px;
  padding: 20px;
  width: 240px;
  height: 630px;
  border-radius: 0 4px 4px 0;
  background: #F8F8F8;
  vertical-align: top;
}

.AddAppointment-InputFields,
.AddAppointment-Buttons {
  margin: 0;
}

.AddAppointment-Buttons {
  margin-top: 20px;
}
