.DailyEvents {
  width: 540px;
  height: 610px;
  background: #fff;

}

.DailyEvents-list {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  padding: 20px 40px 22px;
  padding-top: 20px;
  height: 100%;
  list-style: none;

  &.DailyEvents-list--is-scrollable {
    overflow-y: auto;
  }
}

$paddingLeft: 4ch;
.DailyEvents-Hour {
  position: relative;
  min-height: 55px;
  margin-left: 40px;

  flex-grow: 1;

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 1px;
    background: rgba(#B5B5B5, .2);
    content: "";
  }


  > time {
    position: absolute;
    top: -.5em;
    left: calc(-5ex + -10px);
    color: #B5B5B5;
    font-size: 12px;
    line-height: 1;
  }
}

.DailyEvents-Appointment {
  position: absolute;
  overflow: hidden;
  margin: 0;
  padding: 8px 20px 0;
  width: 100%;
  border-radius: 4px;
  background: #FF6255;

  &:after {
    position: absolute;
    right: 20px;
    bottom: 0;
    left: 20px;
    height: 10px;
    background: linear-gradient(to bottom, rgba(#FF6456, 0) 0%, rgba(#FF6456, 1) 100%);
    content: "";
  }
}

.DailyEvents-Appointment-content {
  margin: 0;
  padding: 0;
}

.DailyEvents-Appointment-title {
  overflow: hidden;
  margin: 0;
  padding: 0;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.4;
}

.DailyEvents-Appointment-time {
  float: right;
  margin-left: 6px;
  color: rgba(#fff, .6);
  font-size: 14px;
  line-height: 1.4;
}

.DailyEvents-Appointment-description {
  margin: 0;
  padding: 0;
  color: rgba(#fff, .8);
  font-size: 12px;
  line-height: 1.5;
}
