.DailyEvents {
  width: 540px;
  height: 610px;
  background: #fff;

}

.DailyEvents-list {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  padding: 20px 40px 22px;
  padding-top: 20px;
  height: 100%;
  list-style: none;

  &.DailyEvents-list--is-scrollable {
    overflow-y: auto;
  }
}

$paddingLeft: 4ch;
.DailyEvents-Hour {
  position: relative;
  padding-left: $paddingLeft;
  min-height: 55px;

  flex-grow: 1;

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    left: $paddingLeft;
    height: 1px;
    background: rgba(#B5B5B5, .2);
    content: "";
  }


  > time {
    position: absolute;
    top: -.5em;
    left: 0;
    color: #B5B5B5;
    font-size: 12px;
    line-height: 1;
  }
}

.DailyEvents-Appointment {
  background: #FF6255;
  border-radius: 4px;
  overflow: hidden;
  padding: 8px 20px 15px;
  // max-width: 50%;
  width: 100%;
  margin: 0;
  position: absolute;
}

.DailyEvents-Appointment-content {
  margin: 0;
  padding: 0;
}

.DailyEvents-Appointment-title {
  font-size: 14px;
  line-height: 1.9;
  font-weight: normal;
  color: #fff;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.DailyEvents-Appointment-time {
  font-size: 14px;
  float: right;
  line-height: 1.9;
  color: rgba(#fff, .6);
  margin-left: 6px;
}

.DailyEvents-Appointment-description {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 1.7;
  color: rgba(#fff, .8);
}
